:root {
  --grey: #686666;
  --deep-red: #850000;
  --white: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--grey);
  color: var(--white);
}

header h1 {
  display: inline-block;
  font-size: 50px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}

main {
  width: 75%;
  float: right;
}