:root {
  --grey: #686666;
  --deep-red: #850000;
  --white: #ffffff;
  --black: #000000;
}

header {

  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--black);
  color: var(--deep-red);
}

header h1 {
  display: inline-block;
  font-size: 50px;
}

header nav {
  font-size: 30px;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}


body {
  background-color: var(--grey);
}

.title {
  display: flex;
  justify-content:space-around;
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-color: #850000;
  color: #ffffff;
}

.right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  width: 75%;
  float: right;
}

.bio {
  font-size: 20px;
}

#main-project {
  flex: 1 1 150px;
}

.other-projects  {
  flex: 1 1 50;
  min-block-size: 100px;
  max-block-size: 400px;
}
img {

  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20%;
}

#contact-me {
  display: inline-block;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 150%;
  text-decoration: underline;
}

a {
  color: var(--white);
}


@media screen and (max-width: 768px){
header {
  background: var(--deep-red);
  color: black;
}
body {
  background: var(--grey);

  color: var(--black);

}
Nav {
  flex-direction: column;
}
  
.title {
  background: var(--black);
  color: var(--deep-red);
}
}
