:root {
  --grey: #686666;
  --deep-red: #850000;
  --white: #ffffff;
  --header: #00000000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--grey);
  color: var(--white);
}

header h1 {
  display: inline-block;
  font-size: 50px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}


#challenges {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.other-projects {
  flex: 0 1;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20%;
  min-block-size: 200px;
  max-block-size: 400px;
}


@media screen and (max-width: 768px){
header {
  background: var(--deep-red);
  color: black;
}
body {
  background: var(--grey);
  color: var(--white);
}
Nav {
  flex-direction: column;
}
}
